body {
  margin: 0;
  font-family: "Karla", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: #F4CE14;
  border: none;
  border-radius: 10px;

  font-family: "Markazi Text", serif;
  font-size: x-large;
}
